* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-image: url("Poll.jpg");
    background-color: #1C1C1C;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

div {
    display: block;
    box-sizing: border-box;
}